@font-face {
	font-family: yoster;
	src: url(./assets/fonts/yoster.ttf);
  }

*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#ui-container {
  position: absolute;
}

#ui-container-wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.trash-bar-wrapper {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 600px) {
	.trash-bar-wrapper {
		bottom: 65px;
	}
}

@media (max-height: 400) {
	.trash-bar-wrapper {
		bottom: initial;
		top: 5px;
		left: 5px;
	}	
}

.trash-bar-container {
	position: relative;
	height: 30px;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 25px;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
}


p {
	user-select: none;
}

.trash-bar-progresser {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	height: 32px;
	background: linear-gradient(rgba(233, 81, 81, 0.415), rgba(233, 101, 81, 0.715));
	overflow-x: hidden;
}

.trash-bar-container p {
	text-align: center;
	font-family: yoster;
	color: white;
}

.plus-point-nudge {
	color: white;
	position: absolute;
	display: block;
	font-style: italic;
	user-select: none;
}

.guide-text {
	position: absolute;
	top: 10px;
	left: 50%;
	opacity: .7;
	font-family: yoster;
	color: white;
	transform: translateX(-50%);
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1000; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content/Box */
  .modal-content {
	border-radius: 10px;
	background-color: rgba(67, 146, 241, 0.9);
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	text-align: center;
	font-family: yoster;
	color: #FFF;
	width: 30%; /* Could be more or less, depending on screen size */
  }

  .modal-header {
	display: flex;
	  margin-bottom: 20px;
	  justify-content: space-between;
	text-align: center;
  }

  .modal-header h2 {
	  align-self: center;
	  margin-left: -5rem
  }

  .modal-header img{
	height: 100px;
	width: 100px;
  }

  .modal-body{
	margin: 20px 0 20px 0;
  }

  .modal-footer{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
  }
	
 #visitButton{
	font-family: yoster;
	 margin-top: 20px;
	background-color: rgba(125, 206, 130, 1);
	color: #FFFF;
	width: 13rem;
	height: 3rem;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	transition-duration: 0.2s;
 }

 #visitButton:hover{
	background-color: rgba(236, 232, 239, 0.8);
	transition-duration: 0.2s;
 }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition-duration: 0.2s;
  }
  
  .close:hover,
  .close:focus {
	transition-duration: 0.2s;
	color: rgba(236, 232, 239, 0.8);
	text-decoration: none;
	cursor: pointer;
  }
  